<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baymax Control Center</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/media/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="container">
    <img src="/media/transparent-baymax.png" alt="Baymax" class="baymax-image">
    <div class="controls">
      <h1>Live Distance Data:</h1>
      <section id="sectionToRefresh">
        <!-- Distance data will be updated here -->
      </section>

      <h1>Current State:</h1>
      <section id="modeSectionToRefresh">
        <!-- Mode data will be updated here -->
      </section>

      <div class="video-controls">
        <video id="vid" width="200"></video>
        <div>
          <button id="but" class="btn btn-primary">Open Webcam</button>
          <button id="but2" class="btn btn-danger">Close Webcam</button>
          <button id="toggleButton" class="btn btn-warning">Toggle LED</button>
          <button id="musicMode" class="btn btn-success">Enable Music Mode</button>
          <canvas id="oscilloscopeGraph"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="/media/script.js"></script>
</body>

</html>