body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bgColor 10s infinite;
    font-family: sans-serif;
}

* {
    font-size: x-large;
}

@keyframes bgColor {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgb(145, 145, 145);
    }
    100% {
        background-color: white;
    }
}